<center>
<div class="box30">
    <div class="box-title">コミ～ル</div>
    <form method="post" action="/room">
        <div class="index-user_name">
            ユーザ名
            <input type="text" id="userName" name="userName" class="index-user_name_text">
        </div>
        <div class="index-enter">
            <input type="button" value="LOGIN" class="common-button index-enter_button btn-square-so-pop" onclick="enter();">
        </div>
    </form>
 
</div>
</center>

<script src="/javascripts/index.js"></script>
<script defer src="https://use.fontawesome.com/releases/v6.2.0/js/all.js"></script>